---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=6&key=543d81a0fc2b41d4b9f215343232304&q=39.10713,-84.50413
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '999998'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 10/10/2024 20:38:35
      Cdn-Edgestorageid:
      - '1070'
      Cdn-Status:
      - '200'
      Cdn-Requesttime:
      - '0'
      Cdn-Requestid:
      - 58a0c647cb01a799f3892d817328b505
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Newport","region":"Kentucky","country":"United
        States of America","lat":39.10713,"lon":-84.50413,"tz_id":"America/New_York","localtime_epoch":1728592675,"localtime":"2024-10-10
        16:37"},"current":{"last_updated_epoch":1728592200,"last_updated":"2024-10-10
        16:30","temp_c":22.2,"temp_f":72.0,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":5.4,"wind_kph":8.6,"wind_degree":53,"wind_dir":"NE","pressure_mb":1022.0,"pressure_in":30.17,"precip_mm":0.0,"precip_in":0.0,"humidity":34,"cloud":0,"feelslike_c":24.0,"feelslike_f":75.1,"windchill_c":21.4,"windchill_f":70.5,"heatindex_c":23.5,"heatindex_f":74.2,"dewpoint_c":6.7,"dewpoint_f":44.1,"vis_km":16.0,"vis_miles":9.0,"uv":2.6,"gust_mph":6.2,"gust_kph":9.9},"forecast":{"forecastday":[{"date":"2024-10-10","date_epoch":1728518400,"day":{"maxtemp_c":21.8,"maxtemp_f":71.2,"mintemp_c":6.8,"mintemp_f":44.2,"avgtemp_c":15.1,"avgtemp_f":59.1,"maxwind_mph":6.5,"maxwind_kph":10.4,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":61,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":1.0},"astro":{"sunrise":"07:43
        AM","sunset":"07:06 PM","moonrise":"03:20 PM","moonset":"No moonset","moon_phase":"First
        Quarter","moon_illumination":42,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1728532800,"time":"2024-10-10
        00:00","temp_c":15.7,"temp_f":60.2,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":4.0,"wind_kph":6.5,"wind_degree":72,"wind_dir":"ENE","pressure_mb":1019.0,"pressure_in":30.08,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":66,"cloud":0,"feelslike_c":15.8,"feelslike_f":60.5,"windchill_c":15.8,"windchill_f":60.5,"heatindex_c":15.7,"heatindex_f":60.3,"dewpoint_c":9.2,"dewpoint_f":48.6,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":8.5,"gust_kph":13.6,"uv":0},{"time_epoch":1728536400,"time":"2024-10-10
        01:00","temp_c":14.7,"temp_f":58.5,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":3.8,"wind_kph":6.1,"wind_degree":77,"wind_dir":"ENE","pressure_mb":1018.0,"pressure_in":30.07,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":68,"cloud":0,"feelslike_c":14.8,"feelslike_f":58.7,"windchill_c":14.8[...]
