---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=3&key=543d81a0fc2b41d4b9f215343232304&q=39.10713,-84.50413
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '999956'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 10/14/2024 01:08:25
      Cdn-Edgestorageid:
      - '894'
      Cdn-Status:
      - '200'
      Cdn-Requesttime:
      - '1'
      Cdn-Requestid:
      - 26494e301c41f601603fa597e334bd8b
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Newport","region":"Kentucky","country":"United
        States of America","lat":39.10713,"lon":-84.50413,"tz_id":"America/New_York","localtime_epoch":1728868061,"localtime":"2024-10-13
        21:07"},"current":{"last_updated_epoch":1728867600,"last_updated":"2024-10-13
        21:00","temp_c":20.6,"temp_f":69.1,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":8.9,"wind_kph":14.4,"wind_degree":276,"wind_dir":"W","pressure_mb":1011.0,"pressure_in":29.84,"precip_mm":0.0,"precip_in":0.0,"humidity":44,"cloud":0,"feelslike_c":20.6,"feelslike_f":69.1,"windchill_c":18.9,"windchill_f":66.0,"heatindex_c":19.1,"heatindex_f":66.4,"dewpoint_c":8.3,"dewpoint_f":47.0,"vis_km":16.0,"vis_miles":9.0,"uv":0.0,"gust_mph":15.9,"gust_kph":25.6},"forecast":{"forecastday":[{"date":"2024-10-13","date_epoch":1728777600,"day":{"maxtemp_c":28.4,"maxtemp_f":83.1,"mintemp_c":15.6,"mintemp_f":60.1,"avgtemp_c":20.9,"avgtemp_f":69.6,"maxwind_mph":15.4,"maxwind_kph":24.8,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":64,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":0.8},"astro":{"sunrise":"07:46
        AM","sunset":"07:01 PM","moonrise":"05:10 PM","moonset":"02:51 AM","moon_phase":"Waxing
        Gibbous","moon_illumination":73,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1728792000,"time":"2024-10-13
        00:00","temp_c":19.1,"temp_f":66.3,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":9.4,"wind_kph":15.1,"wind_degree":208,"wind_dir":"SSW","pressure_mb":1013.0,"pressure_in":29.92,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":72,"cloud":0,"feelslike_c":19.1,"feelslike_f":66.3,"windchill_c":19.1,"windchill_f":66.3,"heatindex_c":19.1,"heatindex_f":66.4,"dewpoint_c":13.8,"dewpoint_f":56.8,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":18.3,"gust_kph":29.4,"uv":0},{"time_epoch":1728795600,"time":"2024-10-13
        01:00","temp_c":18.7,"temp_f":65.6,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":9.4,"wind_kph":15.1,"wind_degree":215,"wind_dir":"SW","pressure_mb":1013.0,"pressure_in":29.91,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":74,"cloud":0,"feelslike_c":18.7,"feelslike_f":65.6,"windchill_c":18[...]
